body 
{
    margin:0;
    background-color:rgb(94, 94, 94);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav
{
    height:100%;
    width: 100%;
    background-color:black;
    position:fixed;
    z-index:99999;
    color:white;
    font-size:x-large;
    transition: all .4s ease-in-out;
    overflow:hidden;
}

.nav ul
{
    list-style-type: none;    
    left:20%;
    right:23%;
    width:auto;
    position:absolute;
    text-align:center;
}

.nav ul li
{
    display:inline-block;
    padding-left:5%;
    text-align:center;
    user-select: none;
    z-index:999999;
}

.nav ul li:hover
{
    cursor:default;
    color:rgb(0, 183, 255);
}

.nav img
{
    display:block;
    margin-top:55%;
    padding-top:55%;
    padding-bottom:30%;
    width: 256px;
    z-index:99999;
}

#aboutMeIcon:hover
{
    content:url('/img/aboutme_hover.png')
}  

#myPrjxIcon:hover
{
    content:url('/img/myprjx_hover.png')
}

#mySkillsIcon:hover
{
    content:url('/img/myskills_hover.png')
} 

.smallerNav 
{
    height:5%;
    font-size:large;
    transition: all .4s ease-in-out;
}

.main
{
    margin: auto;
    margin-top:2.6%;
    left:10%;
    right:10%;
    width: auto;
    height:7808px;
    position:absolute;
    background-color:rgb(36, 36, 36);
}

.section1
{
    height: 2560px;
}
.section2
{
    height: 2560px;

}
.section3
{
    height: 2560px;
}

.activePage 
{
    color:rgb(0, 183, 255)!important;
}

.goToTop
{

    position:fixed;
    bottom:5%;
    right:-13%;
    transition: all 2s ease-in-out;

}

.goToTopVisible 
{
    right:3%!important;
    transition: all 2s ease-in-out;

}

.goToTop img
{
    width:66px;

}

.goToTop img:hover
{
    content:url('/img/totop_hover.png');
    width:96px;
    transition: all .05s linear;
}

.SocialSidebar
{
    background-image:url('img/SocialSidebar_active.png');
    background-size:auto;
    position: fixed;
    left:-210px;
    top:25%;
    width:224px;
    height: 228px;
    transition: all .35s ease-in-out;
    display: grid;
	grid-template-rows: 72px 72px 72px;
	grid-template-columns: 72px 72px;
    padding-bottom:20px;
}

.SocialSidebar:hover
{
    left:-50px;

    transition: all .5s ease-in-out;
}

.navSocialIcons
{
    position:absolute;
    width:100%;
    height:100px;
    margin-top:900px;
}

.navSocialIcons ul 
{
    display:inline;
}

.navSocialIcons ul li
{
    z-index:99998;
}

.navSocialIcons ul li img
{    
    width:96px;
    padding:5px;
    cursor:pointer;
    z-index:99998;
}

#socialIcons
{
    width:56px;
    margin-top:20px;
    margin-left:60px;
    cursor:pointer;
}

.footer
{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    z-index:-999;
}

.leftPane
{
    margin-top:5%;
    width: 35%;
    border-right:2px solid rgb(94, 94, 94);
    height: 1225px;
}

.leftPane img
{
    width:480px;
    margin-top:6.5%;
    margin-left:16%
}

.infobox1 h1
{
    font-size:48px;
    text-align:center;
    padding-left:25px;
    color:white;
}

.infobox1 h2
{
    padding-top:25px;
    padding-left:25px;
    color:white;
}

.infobox1 p
{
    size: 32px;
    color:white;
    padding:0px 25px 0px 25px;
    line-height:30px
}

.infobox2
{
    display:inline-block;
    position:absolute;
    margin-left:36%;
    margin-top:5%;
    width: 35%;
    border-right:2px solid rgb(94, 94, 94);
    height: 1225px;
}